<div id="<%= dom_id friend %>">
    <tbody>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>

          <td><%= friend.user_id %></td>
          <td><%= link_to "Show", friend %></td>
          <td><%= link_to "Destroy", friend, data: { turbo_method: :delete }%></td>
        </tr>
    </tbody>
</div>
