<p style="color: green"><%= notice %></p>

<table class="table table-bordered">
    <thead  class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>User ID</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <div>
      <%= render @friend %>
</table>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this friend", edit_friend_path(@friend) %> | 
    <%= link_to "Back to friends", friends_path %>

    <%= button_to "Destroy this friend", @friend, method: :delete %>
  <% else %>
    <%= link_to "Back to friends", friends_path %>
  <% end %> 
</div>
